/*comentario*/
body{
    background-image: url(./imagens/Churrasco-barato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.h{
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    max-width: 350px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;

}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn{
    width: 100%;
    border-radius: 15px;
    
}

#resultado{
    text-align: center;
    
}




